*{
    margin: 0%;
    padding: 0%;   
}
body{
    background-color: #FFF7EA;
    margin: 0;
    padding: 0;
}
.header{
    background-color: lightgrey;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    
    max-height: 100%;
}
.logo img{
    width: 70px;
    height: 70px;
    margin-left: 40px;    
}
.logo{
    gap: -2%;
    align-items: center;
    display: flex;
    font-family: "Archivo Black";
}
.navigation{
    font-family: "Roboto";
    display: flex;
    margin-right: 140px;
    align-items: center;
    gap: 20px;
    list-style: none;
    align-items: end;
}
.navigation a{
    text-decoration: none;
    color: black;
}
li:hover{
    transform: translateY(-3px);
    color: white;
    font-weight: bolder;
}
.hero{
    background-image: url(HErooo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 800px; 
}
.hero-text h2{
    height: 70px;
    margin-top: 90px;
    margin-left: 50px;
    line-height: 130%;
    padding: 60px;
    color: white;
    font-family: "Fredoka";
    font-size: 40px;    
}
.hero-text h1{
    margin-left: 63px;
    height: 50px;
    padding: 40px;
    color: white;
    font-family: "League Spartan";
    font-size: 110px;
}
.hero-text p{
    height: 40px;
    margin-left: 70px;
    padding: 60px;
    color: white;
    font-family: "League Spartan";
    font-size: x-large;
}
.hero-text button{
    font-family: "Archivo Black";
    font-size: medium;
    font-weight: bolder;
    border-radius: 150px;
    border-color: #FFF7EA;
    margin-left: 150px;
    padding: 17px;
    height: -10px;
    width: 150px;
    background-color: #FFF7EA;
    color: black;
}
.hero-img{
    background-image: url(hero\ pic.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: right;
    margin-top: 80px;
    margin-right: 125px;
    border-radius: 350px;
    width: 450px;
    height: 450px;
}
.about{
    display: flex;
    color: #8a663f ;
    font-family: "Old Standard TT";
    margin-top: 3px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 40px;
    padding-left: 110px;
    padding-top: 80px;
    height: 30px;  
}
.abtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 100px;
    padding-left: 700px;
}
.abtext2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding-top: 100px;
    padding-left: 700px;
}
.abtext2 h2{
    border-radius:20px ;
    margin-right: 330px;
    margin-top: -50px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-size: x-large;
    font-family: "Rubik";
}
.abtext h2{
    padding-left: 0px;
    border-radius:20px ;
    margin-right: 570px;
    color: black;
    font-size: x-large;
    font-family: "Rubik";
}
.abtext p{
    padding-top: 20px;
    color: black;
    font-size: x-large;
    font-family: "Rubik";
    font-weight: lighter;
    font-weight: normal;
}
.abtext2 p{
    display: flex;
    align-items: center;
    padding-right: 120px;
    color: black;
    font-size: x-large;
    font-family: "Rubik";
    font-weight: lighter;
    font-weight: normal;
}
.about-img{
    background-image: url(me.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: -500px;
    margin-left: 80px;
    width: 550px;
    height: 550px;
    border-radius: 20px;
}
.Hobbies{
    background:  #FFF7EA;
    border: 1px solid #FFF7EA;
}
.hh{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 130px;
    color: #8a663f;
}
.hobs{
    margin-top: -170px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}
.hob1{
    background-color: lightgrey;
    margin-top: 100px;
    border-radius: 30px;
    width: 250px;
    height: 400px;
}
.hob1:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.hob1 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pic1{
    margin-left: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.hob2{
    background-color: lightgray;
    margin-top: 100px;
    border-radius: 30px;
    width: 250px;
    height: 400px;
}
.hob2:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.hob2 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pic2{
    margin-left: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.pic2 img{
    margin-bottom: 10px;
}
.hob3{
    background-color: lightgrey;
    margin-top: 100px;
    border-radius: 30px;
    width: 250px;
    height: 400px;
}
.hob3:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.hob3 img{
    background-size: contain;
    zoom: -20;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pic3{
    margin-left: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.hob4{
    background-color:  lightgray;
    margin-top: 100px;
    border-radius: 30px;
    width: 250px;
    height: 400px;
}
.hob4:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.hob4 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pic4{
    margin-left: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.ss{
    max-width: 1366px;
    max-height: 768px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.ss1{
    justify-content: start;
    display: flex;
    margin-bottom: 110px;
    margin-left: 40px;
    align-items: center;
    font-size: 80px;
    color: #8a663f;
}
.pp{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
}
.pp1{
    margin-left: 120px; 
    color: #8a663f;
}
.pp2{
    margin-right: 270px;
    color: #8a663f;
}
.skill{
    margin-top: 20px;
    margin-left: 100px;
    justify-content: space-between;
    background:  #FFF7EA;
    border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  height: 300px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3 ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skill:hover{
    transform: translateY(-15px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.skill1{
    margin-top: 20px;
    justify-content: space-between;
    background:  #FFF7EA;
    border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  height: 300px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3 ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skill1:hover{
    transform: translateY(-15px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s1{
    display: flex;
    background-color: lightgray;
    width: 100%;
    gap: 80px;
    margin-top: 10px;
    border-radius: 20px;
}
.s1:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s1s{
    background-color: #8a663f;
    border-radius: 20px;
    width: 80%;
}
.s1s h2{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.s2{
    margin-top: 10px;
    display: flex;
    background-color: lightgrey;
    width: 100%;
    gap: 10%;
    border-radius: 20px;
}
.s2s{
    background-color: #8a663f;
    border-radius: 20px;
    width: 100%;
}
.s2:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s2s h2{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.s3{
    margin-top: 20px;
    display: flex;
    background-color: lightgray;
    width: 100%;
    gap: 30%;
    border-radius: 20px;
}
.s3:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s3s{
    background-color: #8a663f;
    border-radius: 20px;
    width: 60%;
}
.s3s h2{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.s4{
    margin-top: 10px;
    display: flex;
    background-color: lightgray;
    width: 100%;
    gap: 30%;
    border-radius: 20px;
}
.s4:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s4s{
    background-color: #8a663f;
    border-radius: 20px;
    width: 80%;
}
.s4s h2{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.s5{
    display: flex;
    background-color: lightgray;
    width: 100%;
    gap: 30px;
    margin-top: 10px;
    border-radius: 20px;
}
.s5:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s5s{
    background-color: #8a663f;
    border-radius: 20px;
    width: 90%;
}
.s5s h2{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.s6{
    display: flex;
    background-color: lightgray;
    width: 100%;
    gap: 30px;
    margin-top: 10px;
    border-radius: 20px;
}
.s6:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s6s{
    background-color: #8a663f;
    border-radius: 20px;
    width: 90%;
}
.s6s h2{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.s7{
    display: flex;
    background-color: lightgray;
    width: 100%;
    gap: 80px;
    margin-top: 10px;
    border-radius: 20px;
}
.s7:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s7s{
    background-color: #8a663f;
    border-radius: 20px;
    width: 80%;
}
.s7s h2{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.s8{
    display: flex;
    background-color: lightgray;
    width: 100%;
    gap: 30px;
    margin-top: 10px;
    border-radius: 20px;
}
.s8:hover{
    transform: translateY(-10px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s8s{
    background-color: #8a663f;
    border-radius: 20px;
    width: 90%;
}
.s8s h2{
    margin-left: 10px;
    color: white;
    font-weight: bold;
}