*{
    margin: 0%;
    padding: 0%;   
}
body{
    background-color: #37353E;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.header{
    background-color: lightgrey;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-height: 100%;
}
.logo img{
    width: 70px;
    height: 70px;
    margin-left: 40px;    
}
.logo{
    gap: -2%;
    align-items: center;
    display: flex;
    font-family: "Archivo Black";
}
.navigation{
    font-family: "Roboto";
    display: flex;
    margin-right: 140px;
    align-items: center;
    gap: 20px;
    list-style: none;
    align-items: end;
}
.navigation a{
    text-decoration: none;
    color: black;
}
li:hover{
    transform: translateY(-3px);
     transition: 0.3s ease-in-out;
    color: white;
    font-weight: bolder;
}
.hero{
    background-image: url(HErooo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 800px; 
    width: 100%;
}
.hero-text h2{
    height: 70px;
    margin-top: 90px;
    margin-left: 50px;
    line-height: 130%;
    padding: 60px;
    color: white;
    font-family: "Fredoka";
    font-size: 40px;    
}
.hero-text h1{
    margin-left: 63px;
    height: 50px;
    padding: 40px;
    color: white;
    font-family: "League Spartan";
    font-size: 100px;
}
.hero-text p{
    height: 40px;
    margin-left: 70px;
    padding: 60px;
    color: white;
    font-family: "League Spartan";
    font-size: x-large;
}
.hero-text button{
    font-family: "Archivo Black";
    font-size: medium;
    font-weight: bolder;
    border-radius: 150px;
    border-color: #FFF7EA;
    margin-left: 150px;
    padding: 17px;
    height: -10px;
    width: 150px;
    background-color: #FFF7EA;
    color: black;
}
.hero-text button:hover{
    opacity: 0.8;
    background-color: white;
    color: black;
    font-weight: bolder;
}
.hero-img{
    background-image: url(hero\ pic.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: right;
    margin-top: 80px;
    margin-right: 125px;
    border-radius: 350px;
    width: 450px;
    height: 450px;
}
.About{
    width: 100%;
    background-color: #44444E;
    height: 770px;
}
.about{
    display: flex;
    color: whitesmoke ;
    padding-top: 80px;
    margin-left: 130px;
    font-family: "Old Standard TT";
    font-weight: bolder;
    font-size: 40px;
}
.abt{
    flex-direction: row;
}
.content{
    background:  #44444E;
    border: 1px solid black;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    line-height: 1.8;
    color: white;
}
.all{
    display: flex;
    margin-top: 20px;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    flex-direction: row;
    align-items: center;
    gap: 5%;
}
.infobox {
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px 20px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 20px;
    margin-top: 20px;
}
.info-label {
    font-weight: 600;
    white-space: nowrap;
    margin-right: 5px;
}
.info-value {
    font-weight: 400;
    
}
.abimg{
    margin-left: 100px;
    display: flex;
    object-fit: contain;
    height: 520px;
    border-radius: 20px;
}
.abimg img{
    width: 500px;;
    border-radius: 20px;
}
.Hobbies{
    padding-top: 30px;
}
.hh{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: "Roboto";
    margin-top: 130px;
    color: white;
}
.hobs{
    margin-top: -170px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}
.hob1{
    background-color: lightgrey;
    margin-top: 100px;
    border-radius: 30px;
    width: 250px;
    height: 400px;
}
.hob1:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
-webkit-box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
-moz-box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
}
.hob1 img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.pic1{
    margin-left: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.Skills{
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #44444E;
}
.ss{
    width: 100%;
    margin: 0 auto;
    gap: 100px;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.ss1{
    justify-content: start;
    display: flex;
    margin-top: 50px;
    margin-bottom: 110px;
    margin-left: 40px;
    align-items: center;
    font-size: 80px;
    color: #37353E;
    font-family: "Old Standard TT";
    font-weight: bolder;
}
.pp{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
}
.pp1{
    margin-left: 120px; 
    color: #D3DAD9;
}
.pp2{
    margin-right: 270px;
    color: #D3DAD9;
}
.Skills{
    width: 100%;
}
.skill{
    margin-top: 20px;
    margin-left: 100px;
    justify-content: space-between;
    background:   #44444E;
    border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  height: 300px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3 ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
.skill:hover{
    transform: translateY(-15px);
    box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
-webkit-box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
-moz-box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
}
.skill1{
    margin-top: 20px;
    margin-right: 140px;
    justify-content: space-between;
    background:  #44444E;
    border: 1px solid black;
  border-radius: 25px;
  padding: 20px;
  height: 300px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3 ease;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
.skill1:hover{
    transform: translateY(-15px);
   box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
-webkit-box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
-moz-box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
}
.s1{
    display: flex;
    background-color: #D3DAD9;
    width: 100%;
    gap: 80px;
    margin-top: 10px;
    border-radius: 20px;
}
.s1:hover{
    transform: translateY(-2px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s1s{
    background-color: #37353E;
    border-radius: 20px;
    width: 80%;
}
.s2{
    margin-top: 10px;
    display: flex;
    background-color: #D3DAD9;
    width: 100%;
    gap: 10%;
    border-radius: 20px;
}
.s2s{
    background-color: #37353E;
    border-radius: 20px;
    width: 100%;
}
.s2:hover{
    transform: translateY(-2px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s3{
    margin-top: 20px;
    display: flex;
    background-color: #D3DAD9;
    width: 100%;
    gap: 30%;
    border-radius: 20px;
}
.s3:hover{
    transform: translateY(-2px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s3s{
    background-color: #37353E;
    border-radius: 20px;
    width: 60%;
}
.s4{
    margin-top: 10px;
    display: flex;
    background-color: #D3DAD9;
    width: 100%;
    gap: 30%;
    border-radius: 20px;
}
.s4:hover{
    transform: translateY(-2px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s4s{
    background-color: #37353E;
    border-radius: 20px;
    width: 80%;
}
.s5{
    display: flex;
    background-color: #D3DAD9;
    width: 100%;
    gap: 30px;
    margin-top: 10px;
    border-radius: 20px;
}
.s5:hover{
    transform: translateY(-2px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s5s{
    background-color: #37353E;
    border-radius: 20px;
    width: 90%;
}
.s6{
    display: flex;
    background-color: #D3DAD9 ;
    width: 100%;
    gap: 30px;
    margin-top: 10px;
    border-radius: 20px;
}
.s6:hover{
    transform: translateY(-2px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s6s{
    background-color: #37353E;
    border-radius: 20px;
    width: 90%;
}
.s7{
    display: flex;
    background-color: #D3DAD9 ;
    width: 100%;
    gap: 80px;
    margin-top: 10px;
    border-radius: 20px;
}
.s7:hover{
    transform: translateY(-2px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s7s{
    background-color: #37353E;
    border-radius: 20px;
    width: 80%;
}
.s8{
    display: flex;
    background-color: #D3DAD9;
    width: 100%;
    gap: 30px;
    margin-top: 10px;
    border-radius: 20px;
}
.s8:hover{
    transform: translateY(-2px);
    box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-webkit-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
-moz-box-shadow: -1px -1px 64px 0px rgba(66,91,74,0.46);
}
.s8s{
    background-color: #37353E;
    border-radius: 20px;
    width: 90%;
}
.PROJECTS{
    padding-top: 110px;
    padding-bottom: 140px;
}
.prt{
    color: white;
    font-weight: bolder;
    
    padding-bottom: 40px;
    text-align: center;
}
.prt h1{
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
     font-family: "League Spartan", sans-serif;
}
.pc{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.prc{
    border: 1px solid black;
    height: 400px;
    width: 300px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.prc p{
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    font-size: 15px;
   font-family: "Roboto Condensed";
   line-height: 1.4;
}
.prci{
    display: flex;
    object-fit: contain;
    margin-right: 200px;
    height: 250px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.prci img{ 
    outline: none;
    border: none;
    width: 300px;
    height: 250px;
}
.prcii{
    display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.4em; 
   font-weight: 700 bold;
   margin-right: 150px;
   gap: 10px;
}    
.prcii img{
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 3px;
    height: 50px;
    width: 50px;
}
.prc:hover{
    background-color: 555555;
    transform: translateY(-5px);
    text-decoration: solid;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
-webkit-box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
-moz-box-shadow: 0px 2px 59px -15px rgba(162,162,162,0.75);
    color: white;
}
.contact{
    background-image: url(lss.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 650px;
    width: 100%;
    flex-direction: row;
}
.l{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    gap: 500px;
}
.ls{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding-top: 50px;
    line-height: 2.1;
    color: white;
    font-family: "Fredoka";
}
.ls h2{
    font-size: 30px; 
    font-family: "Lato";
}
.l1{
    font-size: 70px;
}
.ls label{
     font-family: "Fredoka";
     font-size: 30px;
}
.ls input{
    width: 210px;
    height: 30px;
    border-radius: 20px;
}
.ls2{
    line-height: 1.9;
    color: white;
    display: flex;
    flex-direction: column;   
    font-family: "Fredoka";
    align-items: end;
    margin-top: 140px;
    margin-right: 50px;
}
.ls2 h1{
    font-size: 75px;
    font-family: "Fredoka";
}
.ls2 p{
    line-height: 1;
    margin-right: 40px;
    margin-bottom: 15px;
    font-family: "Fredoka";
    font-size: larger;
}
.v{
    font-size: larger;
    font-family: "Roboto";
    margin-right: 130px;
    border-radius: 20px;
    transition: 0.5s ease;
    width: 300px;
    height: 30px;
}
.v:hover{
    background-color: black;
    color: white;
    font-weight: bolder;
    transform: translateY(-1px);
}
.l2{
    align-items: center;
    display: flex;
    object-fit: contain;
    background-color: black;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;   
    margin-right: 280px;
    border-radius: 20px;
    width: 150px;
    height: 50px;
}
.l2 img{
    margin-left: 10px;
    height: 30px;
    width: 30px;
}
.ls2 label{
    font-size: 30px; 
    margin-right: 270px;
    font-family: "Lato";
}
.pogi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ls2 input{
    white-space: nowrap;
    margin-right: 170px;
    border-radius: 20px;
    height: 110px;
    width: 250px;
}
.pogi input{
    margin-right: 70px;
}
.l3{
    display: flex; 
    justify-content: center;
    background-color: black;
    border-radius: 30px;
    width: 120px;
    height: 50px;
}
.l3 button{
    align-items: center;
    background-color: white;
    color: black;
    margin-top: 2px;
    border-radius: 30px;
    width: 100px;
    height: 45px;
    font-weight: bold;
}
.l3:hover{
    opacity: 0.9;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
}
.footer{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}
.CPR{ 
    margin-left: 40px;
    flex-direction: column;
    font-family: "Roboto";
    font-weight: bold;
}
.cpr1{
    margin-right: 20px;
}
.CPR2{   
    display: flex;
    margin-right: 30px;
    align-items: center;
    flex-direction: column;
}
.fimg img{
    height: 35px;
    width: 35px;
    transition: 0.5s ease;
}
.fimg img:hover{
    opacity: 0.7;
    transform: translateY(-2px);
}